.clients {
    display: block;
    &>li {
        list-style: none;
        overflow: auto;
        cursor: pointer;
    }
    .mat-card-avatar {
        background-size: cover;
        height: 96px;
        width: 96px;
    }
    .mat-button,
    .mat-flat-button,
    .mat-icon-button,
    .mat-stroked-button {
        width: 100%;
        white-space: normal;
        padding: 0;
    }
    .mat-card-title {
        text-align: left;
    }
}