.mat-card-avatar {
    background-size: cover;
    width: 128px;
    height: 128px;
    border-radius: 0;
}

.mat-icon {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: lightseagreen;
    opacity: 0.8;
    &:hover {
        opacity: 1;
    }
}